body{
    margin:0;
    padding: 0;
    
}
.background {
    background-image: url("../images/background.jpeg");
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

.button{
    display: inline-grid;
    float: left;
    padding-right: 1rem;
    padding-left: 1rem;
}

.instructions{
    margin-top: 10px;
    height: 5rem;
    width: 14rem;
    border-radius: 8px;
    background-color: black;
    color: #fad900;
    font-size: 1.5rem;
    border: none;
    margin-bottom: 10px;
    font-family: 'Secret Files II', sans-serif;
}

.start{
    height: 5rem;
    width: 14rem;
    border-radius: 8px;
    background-color: black;
    color:#EEEEEE;
    font-size: 1.5rem;
    border: none;
    margin-bottom: 10px;
    font-family: 'Secret Files II', sans-serif;
}

.pic{
    height: 7rem;
    width: 14rem; 
    border-radius: 8px;
    background-color: #541212;
    color: #EEEEEE;
    font-size: 1.5rem;
    border: none;
    margin-bottom: 10px;
    font-family: 'Secret Files II', sans-serif;
}

.retry{
    height: 5rem;
    width: 14rem;
    border-radius: 8px;
    background-color: black;
    color: #EEEEEE;
    font-size: 1.5rem;
    border: none;
    font-family: 'Secret Files II', sans-serif;
}


.instructions:hover{
    background-color: #541212;
    color: #fad900;
}
    
.start:hover {
    background-color: #541212;
    color: #EEEEEE;
}

.retry:hover {
    background-color: #541212;
    color: #EEEEEE;
}

.pic:hover{
    background-color:#eeeeee;
    color: #541212;
}

h1{
    font-family: 'MaszynaAEG', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-block: 0;
    color: rgba(238, 238, 238, 0.7);
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.hidden {
    display: none;
}

#video {
    float: center;
    width: 100vw;
    height: 80vh;
}


.info{
    font-family: 'Syne Mono', monospace;
    color:#EEEEEE;
    font-weight: 1rem;
    align-items: center;
    justify-content: center;
    display: grid;
}

.info img{
    width: 12rem;
    height: 6rem;
}