/* ___________________________________________________________________________________________ */
/* ______________________________BACKGROUND AND TITLE_________________________________________ */

body{
    margin:0;
    padding: 0;
    
}
.background {
    background-image: url("../images/background.jpeg");
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

h1{
    font-family: 'MaszynaAEG', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-block: 0;
    color: rgba(238, 238, 238, 0.7);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* ___________________________________________________________________________________________ */
/* ______________________________BUTTONS___________________________________________________ */

.button{
    display: inline-grid;
    float: left;
    padding-right: 1rem;
    padding-left: 1rem;
}

.instructionsButton{
    margin-top: 10px;
    height: 5rem;
    width: 14rem;
    border-radius: 8px;
    background-color: black;
    color: #fad900;
    font-size: 1.5rem;
    border: none;
    margin-bottom: 10px;
    font-family: 'Secret Files II', sans-serif;
}

.start{
    height: 5rem;
    width: 14rem;
    border-radius: 8px;
    background-color: black;
    color:#EEEEEE;
    font-size: 1.5rem;
    border: none;
    margin-bottom: 10px;
    font-family: 'Secret Files II', sans-serif;
}

.pic{
    height: 7rem;
    width: 14rem; 
    border-radius: 8px;
    background-color: #541212;
    color: #EEEEEE;
    font-size: 1.5rem;
    border: none;
    margin-bottom: 10px;
    font-family: 'Secret Files II', sans-serif;
}

.retry{
    height: 5rem;
    width: 14rem;
    border-radius: 8px;
    background-color: black;
    color: #EEEEEE;
    font-size: 1.5rem;
    border: none;
    font-family: 'Secret Files II', sans-serif;
}


.instructionsButton:hover{
    background-color: #541212;
    color: #fad900;
}
    
.start:hover {
    background-color: #541212;
    color: #EEEEEE;
}

.retry:hover {
    background-color: #541212;
    color: #EEEEEE;
}

.pic:hover{
    background-color:#eeeeee;
    color: #541212;
}


/* ___________________________________________________________________________________________ */
/* ______________________________VIDEO________________________________________________________ */

.hidden {
    display: none;
}

#video {
    float: center;
    width: 100vw;
    height: 80vh;
}

/* ___________________________________________________________________________________________ */
/* ______________________________INSTRUCTIONS FIELD___________________________________________ */

.info{
    font-family: 'Syne Mono', monospace;
    color:#EEEEEE;
    font-weight: 1rem;
    align-items: center;
    justify-content: center;
    display: grid;
}

.info img{
    width: 12rem;
    height: 6rem;
}


#instructions {
    background-image: url("../images/background.jpeg");
    background-size: cover;
     position: fixed;
     top: 0;
     right: 0;
      width: 83vw  ;
      height: 100vh;
    }

#instructions h1{
    font-size: 3.5rem;
    padding-right: 15rem;
}

/* ___________________________________________________________________________________________ */
/* ______________________________CONTEXT FIELD________________________________________________ */

.ctx{
    font-family: 'Syne Mono', monospace;
    color:#EEEEEE;
    font-weight: 1rem;
    align-items: center;
    justify-content: center;
    display: grid;
}

#information {
    background-image: url("../images/background.jpeg");
    background-size: cover;
     position: fixed;
     top: 0;
     right: 0;
      width: 83vw  ;
      height: 100vh;
    }

.infoImgFirst{
    display: inline-flex;
    width: 5rem;
    height: 5rem;
}

#information h1{
    font-size: 3.5rem;
    padding-right: 15rem;
}
/* ___________________________________________________________________________________________ */
/* ______________________________FONT FAMILY__________________________________________________ */

@font-face {
    font-family: 'Secret Files II';
    font-style: normal;
    font-weight: 400;
    src: local('Secret Files II'), url('https://fonts.cdnfonts.com/s/14395/secretfilesii.woff') format('woff');
}

@font-face {
    font-family: 'MaszynaAEG';
    font-style: normal;
    font-weight: 400;
    src: local('MaszynaAEG'), url('https://fonts.cdnfonts.com/s/4667/MaszynaAEG.woff') format('woff');
}
@font-face {
    font-family: 'Maszyna Plus';
    font-style: normal;
    font-weight: 400;
    src: local('Maszyna Plus'), url('https://fonts.cdnfonts.com/s/4667/MaszynaPlus.woff') format('woff');
}
/* latin */
@font-face {
    font-family: 'Creepster';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/creepster/v13/AlZy_zVUqJz4yMrniH4Rcn35fh4Dog.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Nosifer';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nosifer/v20/ZGjXol5JTp0g5bxZWCRbVRFeCDpK1A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Nosifer';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nosifer/v20/ZGjXol5JTp0g5bxZWCpbVRFeCDo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Syne Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/synemono/v15/K2FzfZNHj_FHBmRbFvHDK6qlLSj6ZVOM.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Syne Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/synemono/v15/K2FzfZNHj_FHBmRbFvHDJaqlLSj6ZQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
